@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
 */
img {
    display: block;
    max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
    /**
      Плавный скролл
     */
    scroll-behavior: smooth;
}

body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --font-family: 'Montserrat', sans-serif;

    --container-width: 970px;
    --container-padding-x: 15px;
}

body {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    color: white;
    background-color: #333333;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #d9d9d9;
}

/*.container {*/
/*    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);*/
/*    margin-inline: auto;*/
/*    padding-inline: var(--container-padding-x);*/
/*}*/

.header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    background-color: #272727;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 60px;
    width: 100%;
}

@media (max-width: 991px) {
    .header {
        padding: 0 20px;
        max-width: 100%;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .header-container {
        flex-wrap: wrap;
        max-width: 100%;
        padding-right: 30px;
    }
}

.header-logo {
    width: 115px;
    margin-right: auto;
}

.nav-menu {
    display: flex;
    column-gap: 50px;
    margin-right: 50px;
}

@media (max-width: 991px) {
    .nav-menu {
        max-width: 100%;
        column-gap: 50px;
    }
}

.nav-link {
    display: flex;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    font-family: var(--font-family);
    margin: auto 0;
    flex-wrap: nowrap;
}

.header-search-button {
    font-family: var(--font-family);
    width: 360px;
    height: 55px;
    color: #ffd233;
    border-radius: 5px;
    border: 2px solid rgba(255, 210, 51, 1);
    font-weight: 500;
    background-color: transparent;
    margin: auto;
}

@media (max-width: 991px) {
    .header-search-button {
        padding: 0 20px;
    }
}

@media (max-width: 640px) {
    .header-search-button {
        margin-left: 50px;
    }
}

.header-search-button:hover {
    background-color: #202020;
}

.notification-container {
    display: flex;
    align-items: center;
    width: 172px;
    height: 25px;
    column-gap: 4px;
}

@media (max-width: 991px) {
    .notification-container {
        white-space: initial;
    }
}

.notifications {
    display: flex;
    align-items: center;
    gap: 7px;
    white-space: nowrap;
    margin: auto 0;
}

.notification-icon {
    fill: #ffd233;
}

@media (max-width: 991px) {
    .notification-icon {
        margin-left: 40px;
    }
}

.notification-text {
    font-family: var(--font-family);
    margin: auto 0;
}

.notification-text:hover {
    color: #d9d9d9;
}

.profile-image-header {
    width: 104px;
    max-width: 100%;
    margin-left: auto;
    cursor: pointer;
}

@media (max-width: 991px) {
    .profile-image-header {
        padding-top: 10px;
    }
}

/* burger */

.personal-cabinet {
    margin-top: 4px;
    background-color: #ffd233;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    width: 372px;
    padding: 1px 10px 5px 10px;
    transition: opacity 0.3s ease;
}

.cabinet-item {
    align-items: start;
    border-bottom: 2px solid #000;
    color: #000;
    font-family: Montserrat, sans-serif;
    justify-content: center;
    margin-top: 5px;
    padding: 15px 20px;
    cursor: default;
}

.cabinet-item:hover {
    color: #F5F5F5;
    border-bottom-color: #F5F5F5;
}

.user-actions {
    display: flex;
    font-size: 15px;
    font-weight: 880;
    gap: 20px;
    justify-content: space-between;
    line-height: 147%;
    margin-top: 7px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.help-link {
    color: rgba(0, 0, 0, 0.6);
    font-family: Inter, sans-serif;
}

.help-link:hover {
    color: rgba(0, 0, 0, 0.3);
}

.login-link {
    color: rgb(136, 197, 0);
    font-family: Inter, sans-serif;
}

.login-link:hover {
    color: rgb(0, 220, 0);
}

/* body */

.travel-russia {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    width: 970px;
    max-width: 100%;
    flex-direction: column;
    padding: 0 20px;
    margin: 46px auto;
}

@media (max-width: 991px) {
    .travel-russia {
        margin-top: 40px;
    }
}

/* main headings styles */

.travel-heading {
    color: #fff;
    text-shadow: 3px 10px 5px rgba(255, 210, 51, 0.4);
    align-self: stretch;
    font: 800 70px var(--font-family);
}

@media (max-width: 991px) {
    .travel-heading {
        max-width: 100%;
        font-size: 40px;
    }
}

.travel-russia-subtitle-big {
    color: #fff;
    align-self: end;
    width: 455px;
    font: 600 32px var(--font-family);
    margin-bottom: 5px;
}

.travel-russia-subtitle {
    color: #fff;
    align-self: end;
    width: 455px;
    font: 600 21px var(--font-family);
}

/* divider */

.divider {
    border-color: rgba(217, 217, 217, 1);
    border-style: solid;
    border-width: 3px;
    background-color: #d9d9d9;
    margin-top: 52px;
    width: 100%;
    height: 3px;
}

@media (max-width: 991px) {
    .divider {
        margin-top: 40px;
    }
}

/* for all sections titles */

.personal-data-title {
    color: #fff;
    align-self: start;
    margin-top: 38px;
    margin-left: 5px;
    font: 600 24px Montserrat, sans-serif;
}

.personal-data-divider {
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 3px;
    background-color: #fff;
    min-height: 3px;
    margin-top: 10px;
    width: 100%;
}

@media (max-width: 991px) {
    .personal-data-divider {
        max-width: 100%;
    }
}

/* 1-st part of form */

.personal-data {
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 991px) {
    .personal-data {
        max-width: 100%;
    }
}

.personal-form-row {
    gap: 110px;
    display: flex;

}

@media (max-width: 991px) {
    .personal-form-row {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
}

.personal-image-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
    margin-left: 0;
}

@media (max-width: 991px) {
    .personal-image-column {
        width: 100%;
    }
}

.personal-image {
    aspect-ratio: 0.85;
    object-position: center;
    flex-grow: 1;
}

@media (max-width: 991px) {
    .personal-image {
        margin-top: 40px;
    }
}

.personal-form-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 450px;
    margin-left: 0;
    gap: 27px;
}

@media (max-width: 991px) {
    .personal-form-column {
        width: 100%;
    }
}

.personal-form-group {
    display: flex;
    margin-top: 4px;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .personal-form-group {
        max-width: 100%;
        margin-top: 40px;
    }
}

.personal-form-label {
    color: #fff;
    align-self: start;
    margin-left: 20px;
    font: 600 16px Montserrat, sans-serif;
}

@media (max-width: 991px) {
    .personal-form-label {
        margin-left: 10px;
    }
}

/* Стилизация стрелочки выбора */
.custom-input {
    -webkit-appearance: none; /* Для Safari и Chrome */
    -moz-appearance: none; /* Для Firefox */
    appearance: none; /* Скрытие стандартного отображения стрелочки */

    /* Добавление пользовательской стрелочки */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" fill="none" stroke="%23000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat; /* Отключаем повторение фона */
    background-position: calc(100% - 9px) center; /* Выравниваем стрелочку по правому краю с отступом 10px */

    /* Увеличение размера стрелочки и отступа */
    padding-right: 40px; /* Увеличиваем отступ справа, чтобы увеличить размер стрелочки и отодвинуть её от правого края */

    cursor: pointer;
}

.custom-input.focused {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" fill="none" stroke="%23000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 15l-6-6-6 6"/></svg>');
}

.personal-form-input {
    border-radius: 10px;
    border: 2px solid rgba(34, 34, 34, 1);
    background-color: #d9d9d9;
    margin-top: 10px;
    align-items: start;
    white-space: nowrap;
    justify-content: center;
    padding: 18px 20px;
    font: 600 16px Montserrat, sans-serif;
    color: rgba(51, 51, 51, 0.5);
    height: 58.5px;
}

@media (max-width: 991px) {
    .personal-form-input {
        max-width: 100%;
        white-space: initial;
    }
}

.personal-form-input.password-filled {
    font-family: monospace; /* Используем моноширинный шрифт */
    letter-spacing: 5px; /* Устанавливаем расстояние между символами */
    -webkit-text-security: disc; /* Заменяем текст на круги (может не работать в некоторых браузерах) */
    color: #333333;
}

.filled {
    font: 600 16px Montserrat, sans-serif;
    color: #333333;
}


/* 2-nd part of form */

.about-section {
    display: flex;
    max-width: 970px;
    flex-direction: column;
    padding: 0;
}

.about-content {
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 991px) {
    .about-content {
        max-width: 100%;
    }
}

.about-form-row {
    gap: 100px;
    display: flex;
}

@media (max-width: 991px) {
    .about-form-row {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
}

.about-form-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 450px;
    margin-left: 0;
}

@media (max-width: 991px) {
    .about-form-column {
        width: 100%;
    }
}

.about-form-container {
    display: flex;
    margin-top: 5px;
    flex-grow: 1;
    flex-direction: column;
}

@media (max-width: 991px) {
    .about-form-container {
        max-width: 100%;
        margin-top: 40px;
    }
}

.form-label {
    color: #fff;
    align-self: start;
    margin-left: 20px;
    font: 600 16px Montserrat, sans-serif;
}

@media (max-width: 991px) {
    .form-label {
        margin-left: 10px;
    }
}

.gender-container {
    display: flex;
    width: 211px;
    max-width: 100%;
    flex-direction: column;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 32px 0 0 15px;
}

@media (max-width: 991px) {
    .gender-container {
        margin-left: 10px;
    }
}

.gender-label {
    font-family: Montserrat, sans-serif;
}

.gender-options {
    display: flex;
    margin-top: 25px;
    gap: 20px;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .gender-options {
        white-space: initial;
    }
}

.male-option {
    display: flex;
    gap: 14px;
    flex: 1;
}

@media (max-width: 991px) {
    .male-option {
        white-space: initial;
    }
}

input[type="radio"] {
    appearance: none; /* Убираем стандартное отображение радиокнопки */
    -webkit-appearance: none; /* Для Safari */
    width: 24px; /* Задаем ширину */
    height: 24px; /* Задаем высоту */
    border-radius: 50%; /* Делаем форму круглой */
    outline: none; /* Убираем обводку при фокусе */
    cursor: pointer; /* Делаем курсор указателем */
    background-color: #DBDBDB;
}

/* Стили для выбранных радиокнопок */
input[type="radio"]:checked {
    background-color: #DBDBDB; /* Изменяем цвет фона при выборе */
}

/* Скрытие и кастомизация маркера */
input[type="radio"]::before {
    content: ""; /* Добавляем контент */
    display: block; /* Делаем блочным элементом */
    width: 14px; /* Задаем ширину маркера */
    height: 14px; /* Задаем высоту маркера */
    border-radius: 50%; /* Делаем маркер круглым */
    background-color: #333333; /* Цвет маркера */
    position: relative; /* Позиционирование относительно родителя */
    left: 5px; /* Сдвигаем маркер вправо */
    top: 5px; /* Сдвигаем маркер вниз */
    visibility: hidden; /* Скрываем маркер по умолчанию */
}

/* Стили для выбранных радиокнопок */
input[type="radio"]:checked::before {
    visibility: visible; /* Отображаем маркер при выборе */
}

/*.radio-button {*/
/*    background-color: #dbdbdb;*/
/*    border-radius: 50%;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*}*/

.female-option {
    display: flex;
    gap: 17px;
    flex: 1;
}

@media (max-width: 991px) {
    .female-option {
        white-space: initial;
    }
}

.female-label {
    font-family: Montserrat, sans-serif;
    margin: auto 0;
}

.sociability-group {
    display: flex;
    width: 460px;
    max-width: 100%;
    flex-direction: column;
    margin: 32px 0 42px 0;
}

@media (max-width: 991px) {
    .sociability-group {
        margin-left: 10px;
    }
}

.slider-container {
    position: relative;
    margin-top: 45px;
}

/* imba slider */

.range__thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #dbdbdb;
    position: absolute;
}

/* Value input range */
.range__value {
    width: 64px;
    height: 64px;
    position: absolute;
    top: -50px;
    left: -19.5px;
    border-radius: 2rem 2rem 2rem .25rem;
    transform: rotate(-45deg);
    display: grid;
    place-items: center;
}

.range__value-number {
    transform: rotate(45deg);
    font: 700 20px Montserrat, sans-serif;
}

/* Default input range */
.range__input {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-top-left-radius: 10px; /* Скругление левого верхнего угла */
    border-top-right-radius: 10px; /* Скругление правого верхнего угла */
    border-bottom-left-radius: 10px; /* Скругление левого нижнего угла */
    border-bottom-right-radius: 10px; /* Скругление правого нижнего угла */
    cursor: pointer;
}

.range__input::-webkit-slider-thumb {
    appearance: none;
    width: 32px;
    height: 32px;
}

.range__input::-webkit-slider-thumb:hover {
    cursor: pointer;
}

.profile-image {
    aspect-ratio: 0.85;
    object-position: center;
    width: 100%;
    flex-grow: 1;
}

@media (max-width: 991px) {
    .profile-image {
        margin-top: 40px;
    }
}

/* 3-rd part of from */

.personal-image-column-special {
    flex-direction: column;
    line-height: normal;
    width: 40%;
    margin-left: 0;
}

/* submition section */

.consent-form {
    display: flex;
    max-width: 940px;
    flex-direction: column;
    font-weight: 500;
}

.divider {
    border: 3px solid rgba(255, 255, 255, 1);
    background-color: #fff;
    min-height: 3px;
    width: 100%;
}

@media (max-width: 991px) {
    .divider {
        max-width: 100%;
    }
}

.form-content {
    display: flex;
    width: 612px;
    max-width: 100%;
    flex-direction: column;
    margin: 14px 0 0 15px;
}

@media (max-width: 991px) {
    .form-content {
        padding-right: 15px;
        width: 100%;
    }
}

.consent-checkbox {
    display: flex;
    gap: 12px;
    font-size: 16px;
    color: #fff;
}

@media (max-width: 991px) {
    .consent-checkbox {
        flex-wrap: wrap;
    }
}

/*.checkbox-icon {*/
/*    border-radius: 5px;*/
/*    background-color: #d9d9d9;*/
/*    width: 20px;*/
/*    height: 18px;*/
/*}*/

.checkbox-icon {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #d9d9d9; /* цвет фона */
    cursor: pointer;
    outline: none; /* убираем контур фокуса */
    position: relative; /* задаем позиционирование для псевдоэлемента */
}

/* При наведении */
.checkbox-icon:hover {
    background-color: #eee; /* изменение цвета фона при наведении */
}

/* При активации (нажатии) */
.checkbox-icon:checked {
    background-color: #FFD233; /* цвет фона при активации */
}

/* Скрытие оригинального чекбокса */
.checkbox-icon:checked::after {
    content: ''; /* содержимое псевдоэлемента */
    position: absolute; /* абсолютное позиционирование */
    top: 50%; /* выравнивание по вертикали */
    left: 50%; /* выравнивание по горизонтали */
    transform: translate(-50%, -50%); /* сдвигаем на половину размера элемента */
    width: 20px; /* ширина изображения галочки */
    height: 20px; /* высота изображения галочки */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="%23000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6L9 17l-5-5"/></svg>'); /* путь к изображению галочки */
    background-size: cover; /* размер изображения */
}


.consent-text {
    font-family: Montserrat, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
}

@media (max-width: 991px) {
    .consent-text {
        max-width: 100%;
    }
}

.register-button {
    border-radius: 10px;
    background-color: #ffd233;
    align-self: end;
    margin-top: 65px;
    color: #000;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    padding: 19px 50px;
    font: 20px Montserrat, sans-serif;
    font-weight: 500;
}

.register-button:hover {
    background-color: #ffc800;
}

@media (max-width: 991px) {
    .register-button {
        margin-top: 40px;
        white-space: initial;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Стили для модального окна */
.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #333333;
    margin: 15% auto;
    padding: 40px;
    border-radius: 7px;
    width: 40%;
    height: 100px;
    text-align: center;
    position: relative;
    cursor: default;
}

@media (max-width: 991px) {
    .modal-content {
        width: 80%;
        height: auto;
    }
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute; /* Позиционируем абсолютно относительно родителя */
    top: 1px; /* Располагаем сверху от верхнего края */
    right: 10px; /* Располагаем справа от правого края */
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: default;
}

/* footer */

.footer {
    box-shadow: 0 -25px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #272727;
    display: flex;
    margin-top: 76px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 37px 60px;
}

@media (max-width: 991px) {
    .footer {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }
}

.footer-content {
    width: 1005px;
    max-width: 100%;
}

.footer-columns {
    gap: 190px;
    display: flex;
}

@media (max-width: 991px) {
    .footer-columns {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
}

.footer-main-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 66%;
    margin-left: 0;
}

@media (max-width: 991px) {
    .footer-main-column {
        width: 100%;
    }
}

.footer-main-content {
    flex-grow: 1;
}

@media (max-width: 991px) {
    .footer-main-content {
        max-width: 100%;
        margin-top: 40px;
    }
}

.footer-main-columns {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .footer-main-columns {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
}

.footer-logo-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 38%;
    margin-left: 0;
}

@media (max-width: 991px) {
    .footer-logo-column {
        width: 100%;
    }
}

.footer-logo {
    aspect-ratio: 1.96;
    object-position: center;
    width: 115px;
    max-width: 100%;
    align-self: center;
    margin: auto 0;
}

@media (max-width: 991px) {
    .footer-logo {
        margin-top: 40px;
    }
}

.footer-menu-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 36%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .footer-menu-column {
        width: 100%;
    }
}

.footer-menu {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 600;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .footer-menu {
        margin-top: 40px;
        white-space: initial;
    }
}

.footer-menu-title {
    color: #ffd233;
    font: 16px Inter, sans-serif;
}

.footer-menu-item {
    font-family: Inter, sans-serif;
    margin-top: 19px;
    text-decoration: none;
}

.footer-menu-item:not(:first-child) {
    margin-top: 10px;
}

.footer-services-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 26%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .footer-services-column {
        width: 100%;
    }
}

.footer-services {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 600;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .footer-services {
        margin-top: 40px;
        white-space: initial;
    }
}

.footer-services-title {
    color: #ffd233;
    font: 16px Inter, sans-serif;
}

.footer-services-item {
    font-family: Inter, sans-serif;
    margin-top: 17px;
    text-decoration: none;
}

.footer-services-item:not(:first-child) {
    margin-top: 10px;
}

.footer-info-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 34%;
}

@media (max-width: 991px) {
    .footer-info-column {
        width: 100%;
    }
}

.footer-info-columns {
    display: flex;
    flex-grow: 1;
    gap: 100px;
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 40px;
}

@media (max-width: 991px) {
    .footer-info-columns {
        margin-top: 40px;
        white-space: initial;
    }
}

.footer-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media (max-width: 991px) {
    .footer-info {
        white-space: initial;
    }
}

.footer-info-title {
    color: #ffd233;
    font: 16px Inter, sans-serif;
}

.footer-info-item {
    font-family: Inter, sans-serif;
    margin-top: 17px;
    text-decoration: none;
}

.footer-info-item:not(:first-child) {
    margin-top: 10px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media (max-width: 991px) {
    .footer-contacts {
        white-space: initial;
    }
}

.footer-contacts-title {
    color: #ffd233;
    font: 16px Inter, sans-serif;
}

.footer-contacts-item {
    font-family: Inter, sans-serif;
    margin-top: 20px;
    text-decoration: none;
}

.footer-contacts-item:not(:first-child) {
    margin-top: 10px;
}